<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite Regression">
  <test name="Test Resgression">
    <classes>
      <class name="testcases.LoginTest"/>
      <class name="testcases.DashboardTest"/>
      <class name="testcases.MyInfoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
